<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
    <link rel="stylesheet" href="css\styles.css">
    <style>
        h1{
            color: yellowgreen;
        }
    </style>
</head>

<body>
<h1>Welcome to about us Page of Our shayarigiri.in</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut deleniti maxime possimus pariatur atque, molestias, labore, earum exercitationem dicta corporis consequatur veniam suscipit provident nobis odit eius obcaecati optio accusamus.</p>
<%- include("footer") %> 